.book-container {
    display: flex;
    flex-direction: column;
  }
  
  .book-container > * {
    width: 100%;
  }
  
  .book-container form {
    margin-bottom: 20px;
  }
  
  .book-container form > * {
    margin: 5px 0;
  }
  
  .book-container .mat-radio-button {
    margin: 0 5px;
  }
  /deep/ .mat-list-item-content{
    padding: 0 !important;
  }